<nav class="navbar">
    <div class="nav__container">

        <div class="navbar__header">
            <a href="index.html">
                <h4>Pawsitive<span>ID</span></h4>
            </a>
        </div>

        <div class="navbar__menu" id="open__navbar1">
            <ul class="navbar__nav">
                <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
                <li><a routerLink="/bts" routerLinkActive="active" ariaCurrentWhenActive="page">BTS</a></li>
                <li><a routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>