<nav class="navbar">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                <h4>Pawsitive<span>ID</span></h4>
            </a>
        </div>

        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
                <li><a routerLink="/bts" routerLinkActive="active" ariaCurrentWhenActive="page">BTS</a></li>
                <li><a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a></li>
            </ul>
        </div>
    </div>
</nav>