/* ======================= NAVBAR =================== */

.nav__container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar>.nav__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .navbar,
    .navbar>.nav__container {
        display: block;
    }
}

.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (min-width: 576px) {
    .navbar .nav__container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .navbar .nav__container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .navbar .nav__container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .navbar .nav__container {
        max-width: 1140px;
    }
}

.navbar .navbar__header {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar .navbar__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.navbar .navbar__header .navbar__toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
}

@media (max-width: 768px) {
    .navbar .navbar__header .navbar__toggler {
        display: block;
    }
}

.navbar .navbar__header .navbar__toggler span {
    height: 2px;
    width: 22px;
    background-color: #929aad;
    display: block;
}

.navbar .navbar__header .navbar__toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
}

.navbar .navbar__header>a {
    font-weight: 500;
    color: #3c4250;
}

.navbar .navbar__menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .navbar .navbar__menu {
        display: none;
        text-align: center;
    }
}

.navbar .navbar__menu.active {
    display: flex !important;
}

.navbar .navbar__menu .navbar__nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .navbar .navbar__menu .navbar__nav {
        width: 100%;
        display: block;
        border-top: 1px solid #eee;
        margin-top: 1rem;
    }
}

.navbar .navbar__menu .navbar__nav>li>a {
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.navbar .navbar__menu .navbar__nav>li>a:hover {
    color: #66f;
}

@media (max-width: 768px) {
    .navbar .navbar__menu .navbar__nav>li>a {
        border-bottom: 1px solid #eceef3;
    }
}

.navbar .navbar__menu .navbar__nav>li.active a {
    color: #66f;
}

@media (max-width: 768px) {
    .navbar .navbar__menu .navbar__nav {
        position: relative;
        box-shadow: none;
    }
}

.navbar .navbar__menu .navbar__nav li a {
    color: #3c4250;
    padding: 0.25rem 1rem;
    display: block;
}

.navbar .navbar__menu .navbar__nav>.separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
}

.navbar {
    position: relative;
}

.navbar .navbar__header>a span {
    color: #66f;
}

.navbar .navbar__header h4 {
    font-weight: 500;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .navbar .navbar__header h4 {
        font-size: 1.05rem;
    }
}
