/* ==================== FOOTER ===================== */
footer {
    bottom: 0;
    text-align: center;
    padding: 3px;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}