<div class="about__container">

    <div class="about__project">
        <div class="about__title">
            <h1><u>About</u></h1>
        </div>
        <div class="about__desc">
            <p>
                The project "Dog Breed Identification" aims to develop an intelligent system capable of accurately
                identifying the breed of a dog based on an uploaded photo. Using advanced image recognition and
                machine learning techniques, this project leverages a vast database of dog breeds to train a model
                that can analyze key features and characteristics in the input image to make accurate predictions.
                <br><br>
                The system incorporates cutting-edge deep learning algorithms to extract relevant features from the
                uploaded dog photo. These algorithms are trained on a large dataset of labeled dog images, allowing
                the model to learn patterns and correlations between various visual cues and specific dog breeds. By
                leveraging this trained knowledge, the system can classify and identify the most likely breed(s)
                associated with the given image.
                <br><br>
                To ensure high accuracy, the model is designed to handle various challenges such as variations in
                lighting conditions, different angles, diverse coat colors, and distinctive breed-specific traits.
                It takes into account factors like facial structure, body shape, coat texture, ear shape, and tail
                characteristics to make informed breed predictions.
                <br><br>
                The dog breed identification project can have a wide range of applications, from assisting dog
                owners in discovering the heritage of their furry companions to aiding animal shelters in
                identifying mixed breed dogs for better adoption outcomes. It also serves as an educational tool,
                providing valuable insights into the vast diversity of dog breeds and promoting a deeper
                understanding and appreciation of these remarkable animals.
                <br><br>
                Overall, the dog breed identification project combines state-of-the-art image recognition
                techniques, machine learning algorithms, and extensive dog breed data to create a powerful system
                capable of accurately identifying the breed of a dog from an uploaded photo, contributing to the
                development of intelligent and interactive tools in the field of animal recognition and
                classification.
            </p>
        </div>
    </div>


    <div class="about__team">
        <div class="about__title">
            <h1><u>Team</u></h1>
        </div>

        <div class="team__card__container">
            <div class="team__left">
                <!-- ============== Stephen Boorman ============== -->
                <div class="team__card">
                    <div class="team__img">
                        <img src="../../assets/images/team/stephen.jpg" alt="Stephen Boorman">
                    </div>
                    <div class="team__specs">
                        <div class="person__name">Stephen Boorman</div>
                        <div class="person__position">Chief Cuddler Officer</div>
                        <div class="person__quote">"The better I get to know men,
                            the more I find myself loving dogs."
                        </div>
                        <div class="person__fav__dog">Fav Dog: Golden Doodle
                        </div>
                    </div>
                    <div class="person__social">
                        <a href="https://www.linkedin.com/in/stephen-boorman-06896b19/" target="_blank"><i
                                class="uil uil-linkedin"></i></a>
                        <a href="https://github.com/s-boorman" target="_blank"><i class="uil uil-github"></i></a>
                    </div>
                </div>

                <!-- ============== Jared Baca ============== -->
                <div class="team__card">
                    <div class="team__img">
                        <img src="../../assets/images/team/jared.avif" alt="James Jared Baca">
                    </div>
                    <div class="team__specs">
                        <div class="person__name">Jared Baca</div>
                        <div class="person__position">Guardian of the Kibble Kingdom</div>
                        <div class="person__quote">"Dogs are not our whole life,
                            but they make our lives whole."
                        </div>
                        <div class="person__fav__dog">Fav Dog: Black Lab
                        </div>
                    </div>
                    <div class="person__social">
                        <a href="https://www.linkedin.com/in/jared-baca/" target="_blank"><i
                                class="uil uil-linkedin"></i></a>
                        <a href="https://github.com/jaredbaca" target="_blank"><i class="uil uil-github"></i></a>
                    </div>
                </div>


                <!-- ============== Sri Nikhil Reddy Gudibandi ============== -->
                <div class="team__card">
                    <div class="team__img">
                        <img src="../../assets/images/team/sri.avif" alt="Sri Nikhil Reddy Gudibandi">
                    </div>
                    <div class="team__specs">
                        <div class="person__name">Sri Nikhil Reddy Gudibandi</div>
                        <div class="person__position">Master of Paw-sonal Hygiene</div>
                        <div class="person__quote">"Dogs do speak,
                            but only to those who know how to listen."
                        </div>
                        <div class="person__fav__dog">Fav Dog: Golden Retriever
                        </div>
                    </div>
                    <div class="person__social">
                        <a href="https://www.linkedin.com/in/sri-nikhil-reddy/" target="_blank"><i
                                class="uil uil-linkedin"></i></a>
                        <a href="https://github.com/srinikhil99" target="_blank"><i class="uil uil-github"></i></a>
                    </div>
                </div>
            </div>


            <!-- ============== Shiyu Wang ============== -->
            <div class="team__right">
                <div class="team__card">
                    <div class="team__img">
                        <img src="../../assets/images/team/sri.avif" alt="Shiyu Wang">
                    </div>
                    <div class="team__specs">
                        <div class="person__name">Shiyu Wang</div>
                        <div class="person__position">Chief Belly Rub Officer</div>
                        <div class="person__quote">"A dog is the only thing on earth
                            that loves you more than he loves himself."</div>
                        <div class="person__fav__dog">Fav Dog: Golden Retriever
                        </div>
                    </div>
                    <div class="person__social">
                        <a href="#" target="_blank"><i class="uil uil-linkedin"></i></a>
                        <a href="#" target="_blank"><i class="uil uil-github"></i></a>
                    </div>
                </div>


                <!-- ============== Sri Divya Raparala ============== -->
                <div class="team__card">
                    <div class="team__img">
                        <img src="../../assets/images/team/sridivya.webp" alt="Sri Divya Raparala">
                    </div>
                    <div class="team__specs">
                        <div class="person__name">Sri Divya Raparala</div>
                        <div class="person__position">Head Scratcher-in-Chief</div>
                        <div class="person__quote">"The love of a dog is a pure thing. He gives you a trust which is
                            total. You must not betray it."</div>
                        <div class="person__fav__dog">Fav Dog: Shih Tzu
                        </div>
                    </div>
                    <div class="person__social">
                        <a href="http://www.linkedin.com/in/sri-divya-raparla-730122222" target="_blank"><i
                                class="uil uil-linkedin"></i></a>
                        <a href="https://github.com/sridivyar" target="_blank"><i class="uil uil-github"></i></a>
                    </div>
                </div>

                <!-- ============== Rubeena Riyas ============== -->
                <div class="team__card">
                    <div class="team__img">
                        <img src="../../assets/images/team/rubeena.png" alt="Rubeena Riyas">
                    </div>
                    <div class="team__specs">
                        <div class="person__name">Rubeena Riyas</div>
                        <div class="person__position">Fur Baby Wrangler</div>
                        <div class="person__quote">"Once you have had a wonderful dog,
                            a life without one is a life diminished."</div>
                        <div class="person__fav__dog">Fav Dog: Shih Tzu
                        </div>
                    </div>
                    <div class="person__social">
                        <a href="https://www.linkedin.com/in/rubeenariyas" target="_blank"><i
                                class="uil uil-linkedin"></i></a>
                        <a href="https://github.com/rubeena1301" target="_blank"><i class="uil uil-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
