/* ================ ABOUT PAGE ====================== */

.about__project {
    padding: 20px;
    overflow-x: hidden;
}

.about__title {
    text-align: center;
    margin-bottom: 10px;
}

.about__desc {
    padding: 20px 50px 20px 50px;
}

.about__team {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.team__card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 20px;
}

.team__left {
    width: 100%;
    justify-content: space-evenly;
}

.team__right {
    width: 100%;
    justify-content: space-evenly;
}

.team__card {
    display: flex;
    width: 70%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid;
}

.team__card:hover{
    transform: scale(0.97);
}

.team__img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-right: 10px;
    margin-left: 10px;
}

.team__specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #000; */
    margin-right: auto;
}

.person__name {
    font-size: 18px;
    margin-bottom: 5px;
}

.person__position {
    font-size: 14px;
    margin-bottom: 5px;
}

.person__quote {
    font-size: 16px;
    margin-bottom: 5px;
}

.person__fav__dog img {
    width: 20px;
    height: 20px;
}

.person__social {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.person__social i {
    font-size: 18px;
    color: #000;
}


/* ============ RESPONSIVE ============= */

@media screen and (max-width: 768px) {
    .team__card__container{
        display: flex;
        flex-direction: column;
    }

    .team__left{
        width: 100%;
    }

    .team__right{
        width: 100%;
    }

    .team__img{
        margin: auto;
    }

    .person__name{
        font-size: 14px;
    }

    .person__position{
        font-size: 12px;
    }

    .person__quote{
        font-size: 14px;
    }

    .person__fav__dog{
        font-size: 14px;
    }

    .person__social{
        margin: auto;
    }
}