<!--<input type="text" id="searchInput" name="search" placeholder="Search for Dog..."
        (input)="onSearchInput($event)">-->

<main class="gallery gallery__content--flow">

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/boston_bull.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Boston Bull Terrier</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/dingo.jpg" alt="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Dingo</h1>
            <h2 class="title title--secondary dog__origin">Australian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/pekingese.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Pekingese</h1>
            <h2 class="title title--secondary dog__origin">Chinese</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bluetick_coonhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bluetick Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/golden_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Golden Retriever</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bedlington.jpeg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bedlington Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/borzoi.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Borzoi</h1>
            <h2 class="title title--secondary dog__origin">Russian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/basenji.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Basenji</h1>
            <h2 class="title title--secondary dog__origin">African</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/scottish_deerhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Scottish Deerhound</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/shetland_sheepdog.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Shetland Sheepdog</h1>
            <h2 class="title title--secondary dog__origin">Shetlander</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/treeing_walker_coonhound.jpeg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Treeing Walker Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/maltese.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Maltese</h1>
            <h2 class="title title--secondary dog__origin">Italian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/norfolk_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Norfolk Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/african_hunting_dog.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">African Hunting Dog</h1>
            <h2 class="title title--secondary dog__origin">African</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/wire_haired_fox_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Wire Haired Fox Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/redbone_coonhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Redbone Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/lakeland_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Lakeland Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/boxer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Boxer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/dobermann.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Dobermann</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/otterhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Otterhound</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/standard_schnauzer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Standard Schnauzer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/irish_water_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Irish Water Spaniel</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/black_and_tan_coonhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Black and Tan Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/cairn_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Cairn Terrier</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/affenpinscher.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Affenpinscher</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/labrador_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Labrador Retriever</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/ibizan_hound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Ibizan Hound</h1>
            <h2 class="title title--secondary dog__origin">Ibizan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/weimaraner.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Weimaraner</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/giant_schnauzer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Giant Schnauzer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/groenendael.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Groenendael</h1>
            <h2 class="title title--secondary dog__origin">Beligan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/dhole.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Dhole</h1>
            <h2 class="title title--secondary dog__origin">Asian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/toy_poodle.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Toy Poodle</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/border_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Border Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/tibetan_terrier.jpeg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Tibetan Terrier</h1>
            <h2 class="title title--secondary dog__origin">Tibetan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/norwegian_elkhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Norwegian Elkhound</h1>
            <h2 class="title title--secondary dog__origin">Norwegian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/shih_tzu.jpeg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Shih Tzu</h1>
            <h2 class="title title--secondary dog__origin">Chinese</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/irish_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Irish Terrier</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/kuvasz.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Kuvasz</h1>
            <h2 class="title title--secondary dog__origin">Hungarian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/german_shepard.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">German Shepard</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs//greater_swiss_mountain_dog.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Greater Swiss Mountain Dog</h1>
            <h2 class="title title--secondary dog__origin">Swiss</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/basset_hound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Basset Hound</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/australian_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Australian Terrier</h1>
            <h2 class="title title--secondary dog__origin">Australian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/schipperke.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Schipperke</h1>
            <h2 class="title title--secondary dog__origin">Beligan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/rhodesian_ridgebacks.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Rhodesian Ridgebacks</h1>
            <h2 class="title title--secondary dog__origin">The Rhodesias</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/irish_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Irish Setter</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/appenzeller_sennenhund.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Appenzeller Sennenhund</h1>
            <h2 class="title title--secondary dog__origin">Swiss</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bloodhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bloodhound</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/samoyed.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Samoyed</h1>
            <h2 class="title title--secondary dog__origin">Russian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/miniature_schnauzer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Miniature Schnauzer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/brittany_spaniels.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Brittany Spaniels</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/kelpie.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Kelpie</h1>
            <h2 class="title title--secondary dog__origin">Australian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/papillon.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Papillon</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/border_collie.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Border Collie</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/entlebucher.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Entlebucher</h1>
            <h2 class="title title--secondary dog__origin">Swiss</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/collie.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Collie</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/alaskan_malamute.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Alaskan Malamute</h1>
            <h2 class="title title--secondary dog__origin">Alaskan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/welsh_springer_spaniel.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Welsh Springer Spaniel</h1>
            <h2 class="title title--secondary dog__origin">Welsh</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/chihuahua.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Chihuahua</h1>
            <h2 class="title title--secondary dog__origin">Mexican</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/saluki.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Saluki</h1>
            <h2 class="title title--secondary dog__origin">Fertile Crescent</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/pug.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Pug</h1>
            <h2 class="title title--secondary dog__origin">Chinese</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/malinois.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Malinois</h1>
            <h2 class="title title--secondary dog__origin">Beligan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/komondor.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Komondor</h1>
            <h2 class="title title--secondary dog__origin">Hungarian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/airedale.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Airedale</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/leonberger.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Leonberger</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/mexican_hairless.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Mexican Hairless</h1>
            <h2 class="title title--secondary dog__origin">Mexican</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bullmastiff.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bull Mastiff</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bernese_mountain_dog.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bernese Mountain Dog</h1>
            <h2 class="title title--secondary dog__origin">Swiss</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/american_staffordshire_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">American Staffordshire Terrier</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/lhasa.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Lhasa Apso</h1>
            <h2 class="title title--secondary dog__origin">Tibetan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/cardigan_welsh_corgi.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Cardigan Welsh Corgi</h1>
            <h2 class="title title--secondary dog__origin">Welsh</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/italian_greyhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Italian Greyhound</h1>
            <h2 class="title title--secondary dog__origin">Italian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/clumber_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Clumber Spaniel</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/scottish_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Scottish Terrier</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/afghan_hound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Afghan Hound</h1>
            <h2 class="title title--secondary dog__origin">Afghan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/old_english_sheepdog.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Old English Sheepdog</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/saint_bernard.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Saint Bernard</h1>
            <h2 class="title title--secondary dog__origin">Swiss</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/miniature_pinscher.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Miniature Pinscher</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/eskimo.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Eskimo</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/irish_wolfhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Irish Wolfhound</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/brabancon_griffon.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Brabancon Griffon</h1>
            <h2 class="title title--secondary dog__origin">Beligan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/toy_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Toy Terrier</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/chow_chow.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Chow Chow</h1>
            <h2 class="title title--secondary dog__origin">Chinese</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/flat_coated_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Flat Coated Retriever</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/norwich_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Norwich Terrier</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/soft_coated_wheaten_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Soft-coated Wheaten Terrier</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/staffordshire_bull_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Staffordshire Bull Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_foxhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Foxhound</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/gordon_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Gordon Setter</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/siberian_husky.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Siberian Husky</h1>
            <h2 class="title title--secondary dog__origin">Siberian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/newfoundland.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Newfoundland</h1>
            <h2 class="title title--secondary dog__origin">Newfie</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/briard.JPG" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Briard</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/chesapeake_bay_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Chesapeake Bay Retriever</h1>
            <h2 class="title title--secondary dog__origin">Chesapeake </h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/dandie_dinmont_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Dandie Dinmont Terrier</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/great_pyrenees.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Great Pyrenees</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/beagle.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Beagle</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/vizsla.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Vizsla</h1>
            <h2 class="title title--secondary dog__origin">Hungarian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/west_highland_white_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">West Highland White Terrier</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/kerry_blue_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Kerry Blue Terrier</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/whippet.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Whippet</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/sealyham_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Sealyham Terrier</h1>
            <h2 class="title title--secondary dog__origin">Welsh</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/standard_poodle.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Standard Poodle</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/keeshond.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Keeshond</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/japanese_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Japanese Spaniel</h1>
            <h2 class="title title--secondary dog__origin">Japanese</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/miniature_poodle.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Miniature Poodle</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/pomeranian.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Pomeranian</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/curly_coated_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Curly-coated Retriever</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/yorkshire_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Yorkshire Terrier</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/pembroke_welsh_corgi.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Pembroke Welsh Corgi</h1>
            <h2 class="title title--secondary dog__origin">Welsh</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/great_dane.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Great Dane</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/blenheim_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Blenheim Spaniel</h1>
            <h2 class="title title--secondary dog__origin">Brit</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/silky_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Silky Terrier</h1>
            <h2 class="title title--secondary dog__origin">Australian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/sussex_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Sussex Spaniel</h1>
            <h2 class="title title--secondary dog__origin">Sussex</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/german_shorhaired_poiner.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">German Shorthaired Pointer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/french_bulldog.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">French Bulldog</h1>
            <h2 class="title title--secondary dog__origin">French</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bouvier_des_flandres.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bouvier des Flandres</h1>
            <h2 class="title title--secondary dog__origin">Fleming</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/tibetan_mastiff.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Tibetan Mastiff</h1>
            <h2 class="title title--secondary dog__origin">Tibetan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_springer_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Springer Spaniel</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/cocker_spaniel.JPG" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Cocker Spaniel</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/rottweiler.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Rottweiler</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

</main>
