<input type="text" id="searchInput" name="search" placeholder="Search for Dog..."
        (input)="onSearchInput($event)">

<main class="gallery gallery__content--flow">

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/boston_bull.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Boston Bull Terrier</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/dingo.jpg" alt="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Dingo</h1>
            <h2 class="title title--secondary dog__origin">Australian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/pekingese.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Pekingese</h1>
            <h2 class="title title--secondary dog__origin">Chinese</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bluetick_coonhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bluetick Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/golden_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Golden Retriever</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/bedlington.jpeg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Bedlington Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/borzoi.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Borzoi</h1>
            <h2 class="title title--secondary dog__origin">Russian</h2>
        </figcaption>
    </figure>
    
    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/basenji.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Basenji</h1>
            <h2 class="title title--secondary dog__origin">African</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/scottish_deerhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Scottish Deerhound</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/shetland_sheepdog.png" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Shetland Sheepdog</h1>
            <h2 class="title title--secondary dog__origin">Shetlander</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/treeing_walker_coonhound.jpeg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Treeing Walker Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/maltese.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Maltese</h1>
            <h2 class="title title--secondary dog__origin">Italian</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/norfolk_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Norfolk Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/african_hunting_dog.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">African Hunting Dog</h1>
            <h2 class="title title--secondary dog__origin">African</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/wire_haired_fox_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Wire Haired Fox Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/redbone_coonhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Redbone Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/lakeland_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Lakeland Terrier</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/boxer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Boxer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/dobermann.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Dobermann</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/otterhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Otterhound</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/standard_schnauzer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Standard Schnauzer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/irish_water_spaniel.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Irish Water Spaniel</h1>
            <h2 class="title title--secondary dog__origin">Irish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/black_and_tan_coonhound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Black and Tan Coonhound</h1>
            <h2 class="title title--secondary dog__origin">American</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/cairn_terrier.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Cairn Terrier</h1>
            <h2 class="title title--secondary dog__origin">Scottish</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/affenpinscher.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Affenpinscher</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/labrador_retriever.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Labrador Retriever</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/ibizan_hound.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Ibizan Hound</h1>
            <h2 class="title title--secondary dog__origin">Ibizan</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/weimaraner.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Weimaraner</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/giant_schnauzer.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">Giant Schnauzer</h1>
            <h2 class="title title--secondary dog__origin">German</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

    <figure class="blog__dog">
        <img src="../../assets/images/blog_dogs/english_setter.jpg" alt="" title="">
        <figcaption class="header__caption" role="presentation">
            <h1 class="title title--primary dog__name">English Setter</h1>
            <h2 class="title title--secondary dog__origin">English</h2>
        </figcaption>
    </figure>

</main>