<!-- ===================== BLOG SECTION ======================= -->
<div class="blog__container">

    <input type="text" id="searchInput" name="search" placeholder="Search Your Breed..."
        (input)="onSearchInput($event)">

    <div class="dog__breeds">
        <!-- =================== BOSTON BULL ==================== -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/boston_bull.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Boston Bulls snore like champions!</p>
            </div>
            <div>
                <h3 class="dog__name">Boston Bull</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- =================== DINGO ========================== -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/dingo.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Dingo dogs are skilled jumpers, defying gravity!</p>
            </div>
            <div>
                <h3 class="dog__name">Dingo</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== PEKINESE ====================== -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/pekinese.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Pekingese dogs snort and snore in a hilariously adorable way.</p>
            </div>
            <div>
                <h3 class="dog__name">Pekinese</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BLUETICK ======================= -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/bluetick.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Bluetick Coonhounds have a hilarious bay that will make you smile.</p>
            </div>
            <div>
                <h3 class="dog__name">Bluetick</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== GOLDEN RETRIEVER ================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/golden_retriever.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Golden Retrievers: the goofballs of the dog world!</p>
            </div>
            <div>
                <h3 class="dog__name">Golden Retriever</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BEDLINGTON TERRIER =============== -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/bedlington_terrier.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Bedlington Terriers: the ultimate "sheepdog" impostors!</p>
            </div>
            <div>
                <h3 class="dog__name">Bedlington Terriers</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BORZOI ============================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/borzoi.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Borzois: the champions of canine relaxation!</p>
            </div>
            <div>
                <h3 class="dog__name">Borzoi</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BASENJI ============================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/basenji.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Basenjis: the yodeling, barkless wonders of the dog world!</p>
            </div>
            <div>
                <h3 class="dog__name">Basenji</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BASENJI ============================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/basenji.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Basenjis: the yodeling, barkless wonders of the dog world!</p>
            </div>
            <div>
                <h3 class="dog__name">Basenji</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BASENJI ============================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/basenji.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Basenjis: the yodeling, barkless wonders of the dog world!</p>
            </div>
            <div>
                <h3 class="dog__name">Basenji</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BASENJI ============================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/basenji.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Basenjis: the yodeling, barkless wonders of the dog world!</p>
            </div>
            <div>
                <h3 class="dog__name">Basenji</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

        <!-- ==================== BASENJI ============================ -->
        <div class="blog__dog">
            <img class="dog__profile__img" src="assets/images/blog_dogs/basenji.png" alt="">
            <div class="dog__description__bk"></div>
            <div class="dog__logo">
                <img src="assets/images/favicon/android-chrome-192x192.png" alt="">
            </div>
            <div class="dog__description">
                <p>Basenjis: the yodeling, barkless wonders of the dog world!</p>
            </div>
            <div>
                <h3 class="dog__name">Basenji</h3>
            </div>
            <div class="btn__dog">
                <a class="dog__btn" href="#">Learn More</a>
            </div>
        </div>

    </div>

</div>