<div class="blog__container">

    <input type="text" id="searchInput" name="search" placeholder="Search Your Breed..."
        (input)="onSearchInput($event)">

    <div class="band">
        <div class="item-1 blog__dog">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(../../assets/images/blog_dogs/boston_bull.png);">
                </div>
                <article>
                    <h1 class="dog__name">Boston Bull: The Mascot of Boston University</h1>
                    <p class="dog__description"></p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
        <div class="item-2 blog__dog">
            <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
                class="card">
                <div class="thumb"
                    style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);">
                </div>
                <article>
                    <h1 class="dog__name">How to Conduct Remote Usability Testing</h1>
                    <p class="dog__description"></p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
        <div class="item-3 blog__dog">
            <a href="https://design.tutsplus.com/articles/envato-tuts-community-challenge-created-by-you-july-edition--cms-26724"
                class="card">
                <div class="thumb"
                    style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);">
                </div>
                <article>
                    <h1 class="dog__name">Created by You, July Edition</h1>
                    <p class="dog__description">Welcome to our monthly feature of fantastic tutorial results created by
                        you, the Envato Tuts+
                        community! </p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
        <div class="item-4 blog__dog">
            <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826"
                class="card">
                <div class="thumb"
                    style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);">
                </div>
                <article>
                    <h1 class="dog__name">How to Code a Scrolling “Alien Lander” Website</h1>
                    <p class="dog__description">We’ll be putting things together so that as you scroll down from the top
                        of the page you’ll see
                        an
                        “Alien Lander” making its way to touch down.</p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
        <div class="item-5 blog__dog">
            <a href="https://design.tutsplus.com/tutorials/stranger-things-inspired-text-effect--cms-27139"
                class="card">
                <div class="thumb"
                    style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);">
                </div>
                <article>
                    <h1 class="dog__name">How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
                    <p class="dog__description"></p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
        <div class="item-6 blog__dog">
            <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338"
                class="card">
                <div class="thumb"
                    style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
                <article>
                    <h1 class="dog__name">5 Inspirational Business Portraits and How to Make Your Own</h1>
                    <p class="dog__description"></p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
        <div class="item-7 blog__dog">
            <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281"
                class="card">
                <div class="thumb"
                    style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
                <article>
                    <h1 class="dog__name">Notes From Behind the Firewall: The State of Web Design in China</h1>
                    <p class="dog__description"></p>
                    <span>Pawsitive ID</span>
                </article>
            </a>
        </div>
    </div>

</div>