/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 0.925rem;
    background-color: #f6fba2;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
}

a {
    text-decoration: none;
}