/* ========================= BTS PAGE ======================= */

.pdid__title__space {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.pdid__title {
    padding-top: 10px;
}

.rep__button {
    color: #000;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px;
}

.rep__button:hover{
    transform: scale(0.97);
}

.rep__button--flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pdid__btn {
    margin: auto;
    text-align: center;
}

.pdid__desc__container {
    margin: 30px;
}

.pdid__desc {
    padding: 10px 50px 10px 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.92);
}

/* ================ RESPONSIVE ================= */

@media screen and (max-width: 768px) {
    .pdid__desc{
        padding: 10px;
    }
}

/* ============ IPHONE SE ============== */
@media screen and (min-width: 375px), (min-width: 360px){
    /* .pdid__btn{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } */

    .pdid__btn a{
        width: 160px;
        font-size: 15px;
    }

    .pdid__desc__container{
        margin: 5px;
    }
}
