<div class="pdid__container">
    <div class="pdid__project">
        <div class="pdid__title__space">
            <div class="pdid__title">
                <h1>Project in Detail</h1>
            </div>
        </div>

        <div class="pdid__btn">
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Documentation&nbsp; <i class="fa-regular fa-file-pdf"></i>
            </a>    
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Presentation&nbsp; <i class="fa-regular fa-file-powerpoint"></i>
            </a>    
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Github Repo&nbsp; <i class="fa-solid fa-code-merge"></i>
            </a>    
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Pivotal Tracker&nbsp; <i class="fa-solid fa-arrow-up-wide-short"></i>
            </a>    
        </div>

        <div class="pdid__desc__container">
            <div class="pdid__desc">
                <div class="pdid__para">
                    <p>
                        The project "Dog Breed Identification" aims to develop an intelligent system capable of
                        accurately identifying the breed of a dog based on an uploaded photo. Using advanced image
                        recognition and machine learning techniques, this project leverages a vast database of dog
                        breeds to train a model that can analyze key features and characteristics in the input image to
                        make accurate predictions.
                        <br><br>
                        The system incorporates cutting-edge deep learning algorithms to extract relevant features from
                        the uploaded dog photo. These algorithms are trained on a large dataset of labeled dog images,
                        allowing the model to learn patterns and correlations between various visual cues and specific
                        dog breeds. By leveraging this trained knowledge, the system can classify and identify the most
                        likely breed(s) associated with the given image.
                        <br><br>
                        To ensure high accuracy, the model is designed to handle various challenges such as variations
                        in lighting conditions, different angles, diverse coat colors, and distinctive breed-specific
                        traits. It takes into account factors like facial structure, body shape, coat texture, ear
                        shape, and tail characteristics to make informed breed predictions.
                        <br><br>
                        The dog breed identification project can have a wide range of applications, from assisting dog
                        owners in discovering the heritage of their furry companions to aiding animal shelters in
                        identifying mixed breed dogs for better adoption outcomes. It also serves as an educational
                        tool, providing valuable insights into the vast diversity of dog breeds and promoting a deeper
                        understanding and appreciation of these remarkable animals.
                        <br><br>
                        Overall, the dog breed identification project combines state-of-the-art image recognition
                        techniques, machine learning algorithms, and extensive dog breed data to create a powerful
                        system capable of accurately identifying the breed of a dog from an uploaded photo, contributing
                        to the development of intelligent and interactive tools in the field of animal recognition and
                        classification.
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dignissimos quis odio nobis ipsa
                        vel ipsam? Aliquid dicta a cum iusto, odit, quisquam beatae consectetur, aliquam earum
                        consequuntur adipisci modi eos laudantium laboriosam? Repudiandae architecto laborum molestias
                        vitae, repellat sequi nobis. Iusto dolore similique corporis odit explicabo consequuntur vitae
                        sed repellendus molestias sequi consequatur atque saepe dolor assumenda error labore ullam,
                        distinctio deleniti eveniet? Est quisquam corporis, libero ut delectus explicabo, neque, hic
                        quasi fugit non incidunt! Tempora ullam officia, sit dolor commodi explicabo reprehenderit error
                        fuga. Sunt repellendus dolorum omnis beatae laborum, suscipit, id praesentium possimus corrupti
                        quod eveniet, voluptatibus sequi perferendis ipsam ad modi architecto iusto quam quaerat ipsa
                        nisi. Quisquam, laudantium quos nisi dicta voluptate modi deleniti laboriosam quia assumenda
                        sed, cum unde sequi ut aspernatur debitis dignissimos, distinctio quis magnam cumque obcaecati
                        animi porro in eius. Voluptatem odit itaque suscipit? Quo praesentium tempora rem delectus error
                        quas illum! Ut pariatur ab in accusantium cupiditate quae, aut ullam sequi id vitae totam rerum
                        accusamus repellat ratione saepe. Voluptatibus nulla incidunt ipsa aliquid ex saepe tempore
                        sapiente illo voluptatum quibusdam unde, aut minus doloremque ab, eaque aspernatur officia
                        libero molestias totam rerum odit nesciunt non. Iure aspernatur asperiores velit fugit ea
                        cupiditate iste laboriosam repudiandae sunt! Fugiat, recusandae, culpa temporibus possimus
                        exercitationem adipisci voluptatibus, laudantium mollitia ipsum ullam impedit aliquam
                        necessitatibus ipsa tempora. Sapiente consequatur delectus illo suscipit voluptatibus possimus
                        excepturi dolor commodi quis voluptatum dignissimos, deleniti harum quasi obcaecati quaerat
                        dolorum eaque dolore vero est vel ullam. Rem labore consequuntur alias ipsum animi incidunt
                        inventore nobis natus magnam in quisquam, distinctio non sit qui cumque sunt provident cum quas
                        impedit illum. Ipsum tempore corrupti alias veniam culpa dolor autem hic ratione porro neque
                        labore vitae, obcaecati dicta, non ullam, saepe similique beatae impedit eligendi facilis
                        laboriosam? Unde facilis provident doloremque iste numquam nisi quam veniam quos qui quaerat
                        nulla enim assumenda obcaecati magni aspernatur dicta aliquid, optio recusandae! Adipisci odit,
                        officiis assumenda error in aut? Amet laborum cumque maxime, laudantium ducimus sequi natus
                        nostrum neque atque velit quo incidunt! Porro ea excepturi dolores, impedit aut velit quaerat
                        laboriosam magni quis labore tempora nihil perspiciatis quam officiis, nobis corrupti itaque
                        adipisci reiciendis sit facilis temporibus odit numquam odio exercitationem! Perferendis nisi
                        doloremque maxime! Unde mollitia expedita quas, eum hic odio ipsa deleniti quos, consequuntur,
                        consequatur inventore. Animi culpa saepe laborum, dolorum maxime, totam tempora earum accusamus
                        vero repudiandae numquam at quibusdam beatae iusto facilis accusantium a voluptates tempore
                        eveniet! Dignissimos quae debitis, inventore minima distinctio ipsum temporibus sapiente
                        quibusdam necessitatibus quod quaerat placeat consectetur perferendis labore fugit cumque magnam
                        aut maxime voluptatum nesciunt qui at suscipit. Nihil dolor tempore nam quae? Amet id fugiat
                        vero quod illum assumenda debitis exercitationem maiores. Excepturi alias libero, ad aperiam
                        ipsa dolor esse quis aliquid eum tempora accusamus blanditiis eligendi non officiis earum rem
                        provident aut possimus sint assumenda quisquam voluptates. Sint error delectus ullam
                        exercitationem laudantium pariatur! Voluptatem esse consectetur laudantium dolore maxime
                        assumenda, omnis perferendis obcaecati aliquid, autem, minima minus reprehenderit dicta quis
                        accusamus. Ipsam recusandae impedit facere quaerat consequatur nesciunt praesentium, quis quam
                        consectetur fuga. Similique aut alias illum explicabo sit impedit placeat suscipit sapiente
                        excepturi, pariatur eos molestiae enim laudantium esse. Cupiditate, qui? Saepe libero earum
                        mollitia doloribus modi debitis, impedit odit asperiores perspiciatis similique eligendi non
                        neque quae corporis cupiditate reiciendis atque amet nulla tenetur cum obcaecati qui tempore!
                        Quisquam eum et ratione ad quasi aliquam. Sapiente, labore sunt mollitia autem laboriosam vel?
                        Quaerat, repudiandae rerum libero minima facere impedit quas ipsum inventore praesentium totam
                        aliquid. Dolor quos facilis esse in perspiciatis assumenda vitae atque autem veniam,
                        voluptatibus minus minima, non quo recusandae eius? Asperiores aliquam soluta deserunt dolorum!
                        Quae facere illo nesciunt dolore nemo minima necessitatibus ipsa recusandae corporis molestias,
                        optio, facilis quas consequatur tempora perferendis, dicta minus nisi eaque omnis tempore
                        dignissimos. Ut magnam consequuntur ipsam quibusdam, cum consequatur, autem eveniet laudantium
                        cupiditate veritatis aliquid totam ducimus quaerat mollitia sunt tenetur saepe, vero nobis.
                        Quisquam, dignissimos alias! Unde quis, molestiae facilis repellat itaque facere aliquam nobis
                        sapiente labore? Fugiat esse, dolore hic placeat qui sapiente reprehenderit excepturi possimus
                        in neque eos necessitatibus nobis error laboriosam, sunt enim nam, est consequatur nihil sint
                        iste! Fugit repudiandae quam porro hic culpa est ipsa earum, laboriosam quo illo exercitationem
                        consectetur, recusandae vel aliquam accusantium sequi quod? Labore soluta fugiat illum et
                        similique dolores minima eius exercitationem animi maiores distinctio omnis, necessitatibus
                        atque, sit, ipsum eum dolore itaque id modi? Non expedita nobis provident odit eum in, odio
                        quaerat ducimus esse nisi iusto dolor asperiores doloremque illum libero corporis possimus
                        assumenda. Nulla earum ipsam libero, est aliquid a consequuntur maiores, architecto neque
                        voluptates dolorem sit repellat maxime autem quasi fugiat assumenda, accusantium atque ad
                        voluptas accusamus quaerat? Labore nam ex a molestiae aperiam eligendi incidunt, ipsa explicabo
                        dolore recusandae enim et officiis magnam quo consequuntur consectetur rerum omnis delectus
                        similique itaque ipsum amet. Accusantium, corrupti molestias. Deserunt ipsam perspiciatis
                        adipisci autem iusto cum doloribus architecto minus iure, nostrum odit tenetur aut magnam eaque
                        quis placeat? Odit perspiciatis vitae, aliquid illo at cupiditate nesciunt error quo eos
                        voluptatibus suscipit numquam! Dolor debitis mollitia assumenda repudiandae, culpa inventore
                        porro itaque consequuntur aliquam nostrum molestiae beatae voluptate maxime praesentium saepe
                        perspiciatis velit doloribus alias iste. Dolorem facere enim recusandae. Illo ipsum numquam
                        totam magni quae tempore ipsam neque optio, facere vero unde cum aliquid accusantium,
                        recusandae, earum sunt? Velit, omnis deserunt asperiores explicabo autem officia hic dignissimos
                        doloribus mollitia! Cumque fugiat itaque maiores, nulla voluptatibus saepe a, veritatis
                        consequatur provident quo architecto distinctio soluta molestias molestiae omnis dolores
                        quaerat, repellat id? Quam eos, quae odio quis quisquam rerum asperiores repudiandae sapiente
                        atque dolor, vitae saepe, rem perspiciatis. Recusandae, illo harum accusamus quis beatae
                        voluptate iure laudantium impedit expedita deleniti molestias commodi fuga consectetur nemo quae
                        sint quas. Doloribus iusto et mollitia expedita, vero amet dolores voluptatum quod, doloremque,
                        quas velit obcaecati quidem. Modi dicta eos ullam sapiente! Et consequatur itaque quibusdam
                        dolores? Excepturi maxime accusantium sunt quod labore eligendi. Labore reiciendis et provident
                        vitae laborum iste dolorum sapiente nisi eveniet maxime corrupti, at molestias laudantium.
                        Itaque sit similique dolores hic placeat vitae quidem tempore modi. Maiores doloremque quam
                        pariatur quod praesentium voluptatibus itaque vitae omnis asperiores obcaecati, odio ipsa sed,
                        ab rem. Inventore nostrum, itaque id, beatae non, tenetur provident est culpa quia assumenda
                        voluptates sint sed tempore. Adipisci praesentium nulla assumenda perferendis quasi molestias
                        qui, repudiandae magni quia aliquam fuga, repellendus sunt odio porro eum asperiores dolor,
                        iusto nisi? Corporis, ratione delectus iste itaque optio alias tempora sequi modi tenetur earum
                        officiis suscipit expedita magni doloribus quidem odio perspiciatis minus magnam assumenda,
                        beatae fuga unde reprehenderit aperiam ab. Vitae optio eveniet, saepe iusto harum corrupti
                        laudantium, id ipsa, quo ipsum similique sit ad veniam et sapiente dolor. Est minus excepturi
                        dolorem aliquam perspiciatis. Neque accusantium corporis doloribus? Dolor vel reprehenderit
                        accusamus pariatur deserunt illo repellendus ipsa sunt dignissimos eligendi sed quasi qui
                        corporis sit, praesentium libero possimus officiis necessitatibus labore debitis aut reiciendis
                        accusantium, nemo minima? Minus asperiores adipisci beatae iste tempora quidem aliquam atque
                        voluptatum quasi! Amet voluptatem dignissimos nemo quis, iure illo corrupti incidunt maiores
                        nesciunt blanditiis assumenda itaque ducimus, quos necessitatibus debitis aperiam optio unde
                        porro possimus et, fugit magni aut? Pariatur hic esse velit minus nihil magnam maxime, natus,
                        placeat adipisci qui unde ipsam inventore ullam, repellat commodi ad et id. Rem sapiente vitae
                        architecto, quidem inventore nam iure, quis eligendi repudiandae nostrum fugit ullam similique
                        quae ea dignissimos nesciunt, quaerat accusantium. Voluptatibus rerum dolor, autem delectus amet
                        obcaecati, dolorem, vero veniam incidunt voluptas excepturi vitae laborum eum quaerat iure?
                        Natus quia reiciendis ut molestias vel eaque animi dolorum totam! Magnam quis similique dicta
                        assumenda eum fuga, hic mollitia, eligendi voluptate sequi minima soluta nihil fugit sed facere,
                        consequatur dolore tempore debitis? Consequuntur consectetur iste sit tenetur quasi, ducimus
                        eius laboriosam debitis, assumenda maxime officiis aspernatur, error quia voluptatem. Sequi
                        explicabo quae ea molestias numquam eaque illo, aperiam sunt excepturi doloribus minima ad quis
                        modi dolorum similique id, amet natus aut dolore fuga quod error dicta alias fugit. Ea nulla
                        rerum nisi nemo, adipisci amet atque dignissimos, vitae officiis voluptate eius sit a minima
                        corrupti harum. Nihil, blanditiis error? Tempore amet, aspernatur eius laborum magnam quas ex
                        autem dolorem odit atque incidunt. Quam exercitationem ipsa quisquam possimus fugit quasi,
                        accusamus deserunt rem suscipit tempora, similique reprehenderit eligendi ipsum odit nesciunt
                        officiis commodi. Deleniti ea, nisi at, quam voluptatum dolor modi fugiat, numquam similique
                        exercitationem consequatur nulla? Quibusdam quia, cumque optio soluta corrupti eaque,
                        praesentium doloribus odit rerum, temporibus eveniet maxime blanditiis laudantium ad illum sequi
                        a asperiores quisquam aperiam. Nostrum consequuntur cum pariatur obcaecati suscipit magni atque
                        libero omnis, ipsam minima perspiciatis! Nisi rem dolor iusto id unde pariatur reprehenderit
                        eligendi provident itaque accusantium repellat recusandae cumque sed, eos ipsa architecto amet.
                        Doloremque ad labore esse voluptatum, eveniet totam temporibus sed sint, incidunt iusto harum
                        quia nostrum maiores facilis atque sit nulla nobis? Ipsum nisi eveniet asperiores architecto
                        odit voluptatem temporibus laudantium quos veniam perferendis. Deserunt quos consectetur sequi
                        cumque quasi, labore quisquam animi incidunt eveniet quidem itaque expedita modi corporis
                        aliquid reiciendis laudantium! Ipsum explicabo earum natus nam, sit eum eaque sunt sequi iure
                        mollitia perspiciatis hic dolores placeat inventore maiores velit. Consectetur temporibus a nam
                        aut? Eius ipsum sunt qui tempora ipsa at, quaerat et magni nisi rerum ab. Aut sunt omnis aliquid
                        sequi ipsum. Maiores, aliquam. Totam distinctio dolor rerum repudiandae omnis dicta
                        reprehenderit odio placeat alias nemo blanditiis possimus assumenda a, itaque, sequi maiores
                        eveniet. Aut, architecto dolor eos cum, deleniti dolorum alias quis distinctio hic unde
                        doloribus tempore eligendi quae facere ad ducimus tempora sequi? Aliquid possimus dolores cum
                        similique necessitatibus aspernatur corporis explicabo ullam, non illo doloremque neque minus
                        ducimus sunt, beatae eveniet excepturi sequi cupiditate maxime voluptatem quis porro accusamus.
                        Ad, nesciunt? Totam voluptate vitae sed praesentium maxime atque temporibus expedita unde quia
                        reprehenderit vero asperiores, eos nobis quam. Natus ullam dolores expedita neque quos,
                        aspernatur officia ipsum at eius voluptatibus perferendis doloribus! Rem, placeat. Asperiores
                        ab, accusamus atque doloremque sequi fuga numquam obcaecati, quas corrupti saepe aut nobis
                        impedit exercitationem ipsam ullam maxime id quam dolorem? Modi iste consequuntur blanditiis
                        illum itaque ea? Voluptatum, reiciendis vel recusandae blanditiis deleniti veniam dicta fugit
                        atque, saepe sequi aliquam consequatur, corrupti in! Eligendi accusamus eaque odit omnis,
                        tenetur non odio totam aliquam nostrum debitis nobis ut eveniet sapiente sint error voluptas
                        nulla excepturi vero praesentium dolor numquam repellat iusto enim quas? Aspernatur, corrupti
                        molestiae? Dolores eaque vel consequatur nulla consectetur alias quos eveniet nemo, incidunt
                        fugiat illum sequi, nisi labore quod! Provident dolorem doloribus commodi eius id pariatur
                        corporis placeat quod nam perferendis! Doloremque tempora, praesentium velit, debitis,
                        architecto quae aspernatur consequuntur blanditiis itaque dicta dolorum. Quasi consequatur natus
                        corporis laboriosam mollitia quia eaque explicabo sequi quos blanditiis velit quas nihil
                        voluptates libero, saepe, rerum necessitatibus cum enim voluptate esse vitae, magni a. Rerum
                        dolores vel facere alias enim? Quam asperiores consequuntur iste necessitatibus cum magni
                        laborum! Harum, quam. Tempora doloremque hic rem magni nostrum aperiam ullam iusto praesentium
                        illo ipsum dolorem quam labore sit modi consectetur voluptate eos quaerat debitis, accusantium
                        voluptatibus tempore quibusdam aut! Omnis saepe similique optio doloremque deserunt sequi
                        aspernatur officia atque quo aut at distinctio, quod ut! Fugiat similique distinctio saepe
                        explicabo quia enim illo suscipit aliquid molestias ratione iusto quo accusantium eveniet
                        numquam doloremque illum impedit esse temporibus, minus fugit itaque rerum totam fuga aperiam!
                        Possimus illum deserunt impedit, temporibus officia, quas minus neque fugit nesciunt est,
                        laborum dolorem repellat. Quas, natus alias cumque quae, perferendis omnis aperiam sapiente
                        maiores in sit nobis? Non nulla ea officiis vero ipsum? Commodi illum repellendus voluptate
                        maxime fugit impedit debitis alias, rem, mollitia deserunt aut porro fugiat nostrum laborum
                        excepturi. Sapiente quas hic tempora autem perferendis officiis ratione modi soluta perspiciatis
                        nihil cum, quae distinctio nam minus eligendi laboriosam ullam, cupiditate exercitationem
                        mollitia deleniti totam quasi illo? Molestias officiis perspiciatis ipsa quas quibusdam labore
                        velit qui id praesentium illum eum, porro assumenda ut doloribus beatae vel! Voluptas, quas
                        perferendis.
                    </p>
            </div>
            </div>
        </div>
    </div>
</div>