<div class="pdid__container">
    <div class="pdid__project">
        <div class="pdid__title__space">
            <div class="pdid__title">
                <h1><u>Behind The Scenes</u></h1>
            </div>
        </div>

        <div class="pdid__btn">
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Documentation&nbsp; <i class="fa-regular fa-file-pdf"></i>
            </a>
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Github Repo&nbsp; <i class="fa-solid fa-code-merge"></i>
            </a>
            <a download="" href="assets/pdf/my-new-dog-pdf-version.pdf" class="rep__button rep__button--flex">
                Pivotal Tracker&nbsp; <i class="fa-solid fa-arrow-up-wide-short"></i>
            </a>
        </div>

        <div class="pdid__desc__container">
            <div class="pdid__desc">
                <div class="pdid__para">
                    <h1 style="text-align: center;">PawsitiveID: Discovering Canine Diversity with Precision</h1>
                    <br>

                    <h2>Introduction</h2>
                    <p>
                        PawsitiveID is an innovative and cutting-edge project that celebrates the remarkable diversity
                        of man's best friend, the dog. Utilizing state-of-the-art machine learning technology,
                        PawsitiveID has been designed to accurately detect and identify up to 120 different dog breeds
                        from a single uploaded image. This revolutionary platform allows users to effortlessly explore
                        the fascinating world of canine breeds, providing them with quick and reliable results, all at
                        their fingertips.
                        <br><br>
                        The heart of PawsitiveID lies in its sophisticated machine learning model, which has been
                        meticulously trained on a vast database of dog images. Through the application of deep learning
                        algorithms, the model has developed an unparalleled ability to discern subtle variations in
                        canine features, ensuring that each identification is both accurate and prompt. Whether you are
                        a seasoned dog enthusiast seeking to uncover rare breeds or simply a curious pet lover,
                        PawsitiveID promises an engaging and informative experience.
                        <br><br>
                        In addition to its exceptional breed identification capabilities, PawsitiveID boasts a
                        user-friendly interface that ensures a seamless and enjoyable journey for every visitor. The
                        straightforward image upload process ensures that even those with limited technical expertise
                        can benefit from this invaluable tool. Furthermore, PawsitiveID is optimized to function
                        flawlessly across multiple platforms, including mobile devices, making it accessible to users on
                        the go.
                        <br><br>
                        PawsitiveID represents an exciting step forward in the realm of canine recognition technology.
                        By bringing together cutting-edge machine learning and a passion for dogs, this project aims to
                        enhance our understanding and appreciation of the diverse world of canine companionship. Whether
                        you are a dog owner, breeder, or researcher, PawsitiveID invites you to embark on a journey of
                        discovery, connecting with the furry friends that have captured our hearts for generations. So
                        upload an image today and let PawsitiveID reveal the captivating identity of your furry
                        companion!
                    </p>
                    <br><br>
                    <h2>Project in Detail</h2>

                </div>
            </div>
        </div>
    </div>
</div>
