.home__container {
    display: flex;
    justify-content: space-evenly;
}

.left__container {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.home__img {
    display: grid;
    align-items: center;
    justify-content: center;
}

.home__desc {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.home__desc p {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.right__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__title {
    text-align: center;
    margin: 25px;
    margin-top: 40px;
}

.home__title h1 {
    color: #fff;
}

.upload__btn {
    background-color: #3c4250;
    color: white;
    padding: 0.5rem;
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.upload__btn__div {
    text-align: center;
}

.upload__btn__div span {
    align-items: center;
    text-align: center;
}

#file-chosen {
    margin-left: 0.3rem;
    font-family: 'Balsamiq Sans', cursive;
}

.upload__img {
    margin-bottom: 25px;
}

.upload__preview {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.upload__img__bg {
    opacity: 0.7;
}

.result__bar {
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    font-weight: 700;
}


@media screen and (max-width: 768px) {
    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .left__container {
        width: 100%;
        padding-top: 30px;
    }

    .home__gif {
        width: 80%;
        margin: auto;
    }

    .home__desc p {
        padding-top: 60px;
        font-size: 16px;
    }

    .right__container {
        width: 100%;
    }

    .upload__preview {
        margin: auto;
        width: 80%;
    }

    .upload__img__bg {
        margin: auto;
        width: 100%;
    }

    #file-ip-1-preview {
        margin: auto;
        width: 100%;
    }

    .upload__btn__div {
        margin: auto;
        margin-top: 40px;
    }

    .result__bar {
        margin: 15px auto 30px;
    }
}

