<div class="home__container">
    <div class="left__container">
        <div class="home__img">
            <img src="../../assets/images/logo/PawsitiveID_loading.gif" class="home__gif" alt="">
        </div>
        <div class="home__desc">
            <p>
                No need to put on your doggie detective hat. <br> Just upload your photo, and we'll reveal your furry
                friend's breed, <br> no magnifying glass required!
            </p>
        </div>
    </div>

    <div class="right__container">
        <div class="home__title">
            <!-- <h1>PawsitiveID</h1>  -->
        </div>

        <div class="upload__img">
            <div class="upload__preview">
                <img class="upload__img__bg" id="upload__file__bg" src="../../assets/images/home_upload_bg.png" alt="">
                <img id="file-ip-1-preview">
            </div>

            <!-- actual upload which is hidden -->
            <!-- <input type="file" #uploadBtn id="upload__btn" accept="image/*" onchange="showPreview(event);" hidden/> -->

            <div class="upload__btn__div">

                <!-- our custom upload button -->
                <label class="upload__btn" for="upload__btn"><i class="uil uil-upload"></i>
                    Upload Your Pug-Shot </label>

                <!-- actual upload which is hidden -->
                <input type="file" #uploadBtn id="upload__btn" accept="image/*" (change)="onFileChange($event)"
                    onchange="showPreview(event);" hidden />

                <!-- name of file chosen -->
                <span id="file-chosen">{{ fileChosen }}</span>
            </div>
        </div>

        <div class="result__bar">
            <p class="results__desc">
                wuff wuff!! <br><br>
                I'm a Golden Retriever
            </p>
        </div>
    </div>
</div>